:root {
  --primary-color: #205781;
  --secondary-color: #4F959D;
  --tertiary-color: #98D2C0;
  --quaternary-color: #F6F8D5;
}

.task-form__section {
  background: var(--quaternary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 2rem auto;
}

.task-form__header {
  text-align: center;
  margin-bottom: 15px;
}

.task-form__header-title {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
}

.task-form__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-form__label {
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.task-form__input,
.task-form__select {
  padding: 8px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.task-form__input:focus,
.task-form__select:focus {
  border-color: var(--primary-color);
}

.task-form__error {
  color: red;
  font-size: 16px;
  text-align: center;
}

.task-form__button {
  background: var(--primary-color);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.task-form__button:hover {
  background: var(--secondary-color);
}

.task-form__footer {
  margin-top: 20px;
  padding: 15px;
  background: var(--tertiary-color);
  border-radius: 8px;
  text-align: center;
}

.task-form__footer-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.tag__span {
  background: var(--secondary-color);
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.tag__span:hover {
  background: var(--primary-color);
  cursor: pointer;
}

.tags__length {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  padding: 6px;
  background: var(--quaternary-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
}

@media (max-width: 550px) {
  .task-form__section {
    padding: 15px;
    margin: 1.5rem auto;
    max-width: 400px;
  }

  .task-form__header {
    margin-bottom: 10px;
  }

  .task-form__header-title {
    font-size: 20px;
  }

  .task-form__input,
  .task-form__select {
    font-size: 14px;
    padding: 6px;
  }

  .task-form__error {
    font-size: 14px;
  }

  .task-form__button {
    font-size: 14px;
    padding: 8px;
  }

  .task-form__footer {
    margin-top: 15px;
    padding: 10px;
  }

  .task-form__footer-title {
    font-size: 17px;
  }

  .tags {
    gap: 6px;
  }

  .tag__span {
    font-size: 13px;
    padding: 4px 8px;
  }
}