:root {
  --font: 'Roboto Variable', sans-serif;

  --primary-color: #205781;
  --secondary-color: #4F959D;
  --tertiary-color: #98D2C0;
  --quaternary-color: #F6F8D5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--quaternary-color);
}